{% extends "nav.html" %}


{% block title %}
account

{% endblock title %}
{% block banner %}{% endblock banner %}


{% block content %}

{% load static %}
    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src={% static "images/image1.png" %} width="100%">
                </div>
                <div class="col-2">
                    
                    <div class="form-container">
                        <div class="form-btn">
                            <span>Login</span>
                        </div>
                        <form class="log-forms" style="top: 45px; left: 33px" action="{% url "checkout" %}" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                        <div class="form-group">
                             {{ form.name }}
                        </div>
                        <div class="form-group">
                            {{ form.email }}
                        </div>
                        <div class="form-group">
                            {{ form.place }}
                        </div>
                        <div class="form-group">
                            {{ form.address }}
                        </div>
                        <div class="form-group">
                            {{ form.phonenumber }}
                        </div>
                        <div class="form-group">
                            {{ form.city }}
                        </div>
                            <button type="submit"  class="btn">check out</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>






</body>

</html>
{% endblock content %}