<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <p>
            <label for="">user ;</label><input type="text" name="username" id="">
        </p>
        <p>
            <label for="">pass ;</label><input type="password" name="password" id="">
        </p>
        <button>sign</button>
        <p>
            {% if user %}
            new user created {{ user.username }}
            {% endif %}
        </p>
        
        
    </form>
    
</body>
</html>